<?xml version="1.0" encoding="UTF-8"?>
<repositories>
    <repository>
        <id>KettleFileRepository</id>
        <name>Travelonly</name>
        <description>Travelonly</description>
        <base_directory>&#47;srv&#47;samba&#47;Office&#47;Information Technology&#47;Kettle</base_directory>
        <read_only>N</read_only>
        <hides_hidden_files>N</hides_hidden_files>
    </repository>
</repositories>
