# Don't edit manually!
# {{ ansible_managed }}

{% if apache_listen_port is iterable %}
{% for port in apache_listen_port %}
Listen {{ port }}
NameVirtualHost *:{{ port }}
{% endfor %}

{% else %}
Listen {{ apache_listen_port }}
NameVirtualHost *:{{ apache_listen_port }}
{% endif %}