{{ apache_global_vhost_settings }}

{# Set up VirtualHosts #}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ item.servername }}
{% if item.serveralias is defined %}
  ServerAlias {{ item.serveralias }}
{% endif %}
{% if item.documentroot is defined %}
  DocumentRoot "{{ item.documentroot }}"
{% endif %}
{% if item.serveradmin is defined %}
  ServerAdmin {{ item.serveradmin }}
{% endif %}
{% if item.certificate_file is defined %}
  SSLEngine on
  SSLCipherSuite {{ apache_ssl_cipher_suite }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLHonorCipherOrder On
{% if apache_vhosts_version == "2.4" %}
  SSLCompression off
{% endif %}
  SSLCertificateFile {{ item.certificate_file }}
  SSLCertificateKeyFile {{ item.certificate_key_file }}
{% if item.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ item.certificate_chain_file }}
{% endif %}
{% endif %}
{% if item.documentroot is defined %}
  <Directory "{{ item.documentroot }}">
    AllowOverride {{ item.allow_override | default(apache_allow_override) }}
    Options {{ item.options | default(apache_options) }}
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
{% if item.directoryindex is defined %}
   DirectoryIndex "{{ item.directoryindex }}"
{% endif %}
  </Directory>
{% endif %}
{% if item.extra_parameters is defined %}
  {{ item.extra_parameters }}
{% endif %}
</VirtualHost>
