
DirectoryIndex index.php index.html

{# Set up VirtualHosts - servername and documentroot are required. #}
{% for vhost in apache_vhosts %}
<VirtualHost *:{{ apache_listen_port }}>
  ServerName {{ vhost.servername }}
  DocumentRoot {{ vhost.documentroot }}
{% if vhost.serveradmin is defined %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Order allow,deny
    Allow from all
  {% if vhost.directory_extra_parameters is defined %}
  {% for param_name, param_value in vhost.directory_extra_parameters|reverse %}
    {{ param_name }} {{ param_value }}
  {% endfor %}
  {% endif %}
  </Directory>
{% if vhost.extra_parameters is defined %}
{% for param_name, param_value in vhost.extra_parameters|reverse %}
  {{ param_name }} {{ param_value }}
{% endfor %}
{% endif %}
</VirtualHost>

{% endfor %}
