{# Set up VirtualHosts #}
{% for vhost in apache_vhosts %}
  {% include './vhosts-hosts.conf.j2' %}
{% endfor %}

{# Set up SSL VirtualHosts #}
{% for vhost in apache_vhosts_ssl %}
  {% include './vhosts-ssl-hosts.conf.j2' %}
{% endfor %}
